---
import Layout from "@layouts/Default.astro";
import MobileSocials from "@components/home/MobileSocials.astro";
import { Pill } from "@eliancodes/brutal-ui";
import { Button } from "@eliancodes/brutal-ui";
import { Card } from "@eliancodes/brutal-ui";

const pastEvents = [
  { name: "2023: Binus, Bandung", url: "//2023.pycon.id" },
  {
    name: "2022",
    url: "//2022.pycon.id",
  },
  { name: "2021", url: "//2021.pycon.id" },
  {
    name: "2020",
    url: "//2020.pycon.id",
  },
  { name: "2019", url: "//2019.pycon.id" },
  { name: "2018", url: "//2018.pycon.id" },
  { name: "2017: PENS, Surabaya", url: "//2017.pycon.id" },
];
---

<Layout
  title="Home"
  pageTitle="PyCon Indonesia | Home"
  description="Python Conference Indonesia"
>
  <main class="bg-pink p-6 min-h-screen">
    <MobileSocials />
    <section id="about" class="grid md:grid-cols-8 gap-8 mt-4">
      <div class="col-span-4">
        <Card>
          <div class="flex flex-col justify-between items-start gap-4">
            <h2 class="mt-4 outfit text-4xl md:text-5xl lg:text-7xl">
              Upcoming event:
            </h2>
            <p class="mt-2 outfit text-xl md:text-3xl lg:text-5xl">
              PyCon APAC 2024 is now hold in Indonesia!
            </p>
            <Button target={"_blank"} href="//2024-apac.pycon.id">
              PyCon APAC 2024 &rarr;
            </Button>
          </div>
        </Card>
      </div>
      <div class="col-span-4">
        <Card>
          <h2 class="text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif">
            Past events
          </h2>
          <ul class="flex flex-col gap-4 flex-wrap">
            {
              pastEvents.map((item) => (
                <li>
                  <Pill>
                    <a
                      class="sanchez"
                      href={item.url}
                      target="_blank"
                      title={`Go to ${item.name}`}
                      class="w-full"
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
    </section>
  </main>
</Layout>
